#myProgress {
    width: 100%;
    height: 50px;
    background-color: red;
    background-image: linear-gradient(to right, green, yellow, red);
    border-radius: 25px;
}
  
#myTriangle {
    margin-left: 90%;
    width: 25px;
    height: 25px;
    background-image: url('triangle-slider4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

